
<div class="container-principal">
  <div class="container">
    <form [formGroup]="loginForm" class="formulario" (ngSubmit)="onSubmit()">
      <h1>Inicio de sesión</h1>
      <div class="form-group">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" formControlName="usuario" name="usuario" required>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" formControlName="contraseña" name="contrasena" required>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>
</div>